aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.11.0
astor==0.8.1
attrs==25.4.0
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
cryptography==46.0.3
distlib==0.4.0
fastapi==0.95.2
filelock==3.20.0
Flask==3.1.2
flask-cors==6.0.1
flask-sock==0.7.0
frozenlist==1.8.0
futures==3.0.5
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
idna==3.10
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
multidict==6.7.0
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.2.5-cp312-cp312-linux_aarch64.whl#sha256=fb784857f2ddbb1142d236ce24c4fd95ce4860b1e22473dacbe3a2423f324040
packaging==25.0
platformdirs==4.5.0
pluggy==1.6.0
propcache==0.4.1
psutil==7.1.0
pure25519==0.0.1
pycparser==2.23
pydantic==1.10.13
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.2
python-dotenv==1.2.1
python-multipart==0.0.20
requests==2.32.5
rich==14.2.0
setuptools==80.9.0
simple-websocket==1.1.0
sniffio==1.3.1
soupsieve==2.8
starlette==0.27.0
typing_extensions==4.7.1
urllib3==2.5.0
uvicorn==0.22.0
virtualenv==20.35.3
watchdog==6.0.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wsproto==1.3.1
yarl==1.22.0
zope.event==6.1
zope.interface==8.1
